/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
.html-footer-container {
    border: 5px solid purple;
    padding: 5px;
    margin: 5px;
    font-family: 'Gloria Hallelujah', cursive;
}